/* src/components/Navbar.css */

  /* Ensure the navbar text is white */
.navbar-nav .nav-link {
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar {
  background-color: #343a40; /* Optional: Set background color for the navbar */
}
